.describle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 112px 64px;
    gap: 80px;
}

.describle-container img{
    width: 616px;
}

.decrible-content{
    width: 616px;
}

.decrible-content p:first-child{
    font-size: 16px;
    font-weight: 600;
    padding: 0;
}
.decrible-content p{
    font-size: 18px;
    padding-bottom: 24px;
}

.decrible-content h2{
    font-size: 48px;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 24px;
}

.decrible-content button{
    font-size: 16px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    width: 129px;
    height: 48px;
}