*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
.section-container{
    display: flex;
    margin: 112px 64px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.section-content img{
    width: 616px;
    height: 640px;
}

.section-content{
    width: 616px;
    text-align: left;
}

h1{
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 24px;
}

.section-content p{
    font-size: 18px;
    padding-bottom: 24px;
}
.section-content p:last-child{
    font-size: 12px;
    padding-top: 16px;
}

.signup{
    display: flex;
    gap: 16px;
    align-items: center;
}

input[type=email]{
    width: 357px;
    height: 48px;
    border: 1px solid #000000;
    padding: 12px;
    font-size: 16px;
}

input::placeholder{
    color: #505050;
    /* font-size: 16px; */
    padding: 12px;
}

.signup button{
    font-size: 16px;
    background-color: #000000;
    color: #FFFFFF;
    width: 132px;
    height: 40px;
}